SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is the most widely deployed SQL database engine in the world.

In [5]:
#Install & load sqlite3
#!pip install sqlite3
import sqlite3

In [13]:
#connecting sqlite 
#connection object
conn = sqlite3.connect('MILGO.db')

Cursor class is an instance using which you can invoke methods that execute SQLite statements, fetch data from the result sets of the queries. You can create Cursor object using the cursor() method of the Connection object/class.

In [16]:
#cursor object
cursor_obj = conn.cursor()

In [18]:
cursor_obj.execute('DROP TABLE IF EXISTS MILGO')

<H1>CREATING TABLE</H1>

In [20]:
# Creating table
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

<H1>INSERTING ROWS INTO THE TABLE</H1>

In [22]:
cursor_obj.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

In [24]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

<H1>Query data in the table</H1>

In [49]:
statement = "SELECT * FROM INSTRUCTOR"
cursor_obj.execute(statement)

print("all data")
output_all = cursor_obj.fetchall()
for row in output_all:
    print(row)

all data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [51]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [53]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

<H3>UPDATE Rav's CITY TO 'MOOSETOWN'</H3>

In [55]:
cursor_obj.execute("UPDATE INSTRUCTOR SET CITY ='MOOSETOWN' WHERE FNAME = 'Rav'")

In [61]:
cursor_obj.execute("SELECT * FROM INSTRUCTOR WHERE FNAME='Rav'")
fetch =  cursor_obj.fetchall()
for row in fetch:
    print (row)

(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')

<h2>RETRIEVE DATA INTO TO PANDAS</h2>

In [75]:
import pandas as pd

#retrieve query into the df
df = pd.read_sql_query("SELECT * FROM INSTRUCTOR;",conn)

print(df)

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [79]:
df.LNAME

0        Ahuja
1        Chong
2    Vasudevan
Name: LNAME, dtype: object

Once the data is in a Pandas dataframe, you can do the typical pandas operations on it.

For example you can use the shape method to see how many rows and columns are in the dataframe

In [84]:
df.shape

(3, 5)

<h4>Once done, we close the connection to free resources.</h4>

In [87]:
#terminate the connection
conn.close()